body {
    background-color: rgb(15, 15, 15);
}

.enlace {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    background-color: blue;
    color:white;
    font-size: 15px;
}